.DS_Store
/.build
/Build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
package-lock.json
__pycache__/
*.pyc
